//Colors
$grey: #333333;
$white: #eeeeee;
$light-blue: #b5d0e2;
$dark-blue: #2099e8;

// Navigation Colors:

$nav-background: $grey;
$nav-text-color: $white;

//Clock Colors:

$clock-text-color: $white;
$clock-bg-color: $light-blue;
$clock-border-color: $dark-blue;
